<aside class="col-12 col-xl-2 bg-navbar p-0">
  <nav class="navbar navbar-expand-xl navbar-dark flex-xl-column flex-row
                                                  align-items-start p-2 p-xl-4">
    <div class="container-fluid">
      <div class="d-flex flex-wrap w-100">
        <div class="flex-nowrap row w-100">
          <a class="navbar-brand col-10 col-lg-11" href="#">HuntiCloud</a>
          <button class="navbar-toggler col-2 col-lg-1 p-1" type="button"
                                               data-bs-toggle="collapse"
                                               data-bs-target="#navbarNavAltMarkup"
                                               aria-controls="navbarNavAltMarkup"
                                               aria-expanded="false"
                                               aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="flex-xl-column flex-row navbar-nav row px-4">
            <%= link_to 'Home',root_path,
                        class: "nav-link #{ params[:controller] == 'home' &&
                                params[:action] == 'index' ? 'active' : '' }" %>
            <%= link_to 'Galery', galeries_path,
                        class: "nav-link #{ params[:controller] == 'galeries' &&
                                params[:action] == 'index' ? 'active' : '' }" %>
            <%= link_to_if( params[:controller] == 'galeries' &&
                           params[:action] == 'index', 'Partners', '#',
                                         class: 'nav-link disabled ms-2 pt-0 fs-6 lh-1',
                                         aria: { disabled: true } ) {} %>
            <%= link_to 'Tools', '#',
                        class: 'nav-link disabled', aria: { disabled: true } %>
          </div>
        </div>
      </div>
    </div>
  </nav>
</aside>
