<div id="<%= dom_id(galery) %>" class="col p-2 fake">
  <%= link_to galery_path(galery) do %>
    <% if ['jpg', 'png', 'gif' 'jpeg'].include?(galery.file.file.extension) %>
      <%= image_tag galery.file.url, class: 'picture-preview',
                                                                width: '100%' %>
    <% elsif ['wmv', 'mp4'].include?(galery.file.file.extension) %>
      <%= video_tag galery.file.url, class: 'picture-preview', width: '100%' %>
    <% end %>
  <% end %>
</div>
