<div class="row mx-2 mx-lg-5 d-flex flex-wrap">
  <h1 class="text-center p-3 color-white">Hello, here is your media files!</h1>
  <%= form_for @galery do |f| %>
    <%= f.label 'Upload file', for: 'galery_file', class: 'm-2 position-fixed fixed-button' %>
    <%= f.file_field :file, hidden: '', onchange: 'form.submit()' %>
  <% end %>
  <%= render @galery_files %>
</div>
