// Import Bootstrap v5
@import "~bootstrap/scss/bootstrap";
@import "galery";
@import 'devise/sessions/new';

* {
  color: white;
}

.bg {
  /* The image used */
  background-image: url('../images/default-background.jpg');

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-navbar {
  background-color: rgba(18, 18, 23, 0.9);
  backdrop-filter: blur(5px);
}

.bg-content {
  background-color: rgb(18, 18, 23);
}
