.picture-preview {
  min-width: 326px;

  @media (max-width: 1199px) {
    min-width: 200px;
  }
  @media (max-width: 768px) {
    min-width: 150px;
  }
  @media (max-width: 480px) {
    min-width: 100px;
  }
}

.fixed-button {
  bottom: 1%;
  right: 2%;
  width: 80px;
  height: 35px;
  border-radius: 20px;
  background-color: black;
  font-size: 11px;
  padding: 8px 12px;
  cursor: pointer;
}
