<div id='signin-form' class='container-fluid row position-absolute start-50 translate-middle-x m-auto'>
  <div class='container col-sm-3 px-5'>
    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class='mb-3'>
        <%= f.label :email, class: 'form-label' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class='mb-3'>
        <%= f.label :password, class: 'form-label' %><br />
        <%= f.password_field :password, autocomplete: "current-password",
                                        class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class='mb-3 form-check'>
          <%= f.check_box :remember_me, checked: true, class: 'form-check-input' %>
          <%= f.label :remember_me, class: 'form-check-label' %>
        </div>
      <% end %>

      <div class="actions d-flex justify-content-center">
        <%= f.submit "Log in", class: 'btn btn-primary' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>

</div>
