<!DOCTYPE html>
<html>
  <head>
    <title>HuntiCloud</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <div class="bg">
        <div class="container-fluid h-100">
          <div class="row h-100">
            <%= render 'shared/navbar' %>
            <main class="col bg-content">
              <%= yield %>
            </main>
          </div>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
